html, body{
    /* margin: 0;
    padding: 0; */
    height: 100%;
    width: 100%;
    background-color: rgb(217, 233, 247);
    /* box-sizing: content-box; */
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#board{
    position: relative;
    display: flex;
    gap: 2px;
}

#board > div{
    display: inherit;
    flex-direction: column;
    gap: 2px;
}

.tile{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: aliceblue;
    text-align: center;
    align-content: center;
    font-size: 4rem;
}